<div class="container-fluid">

  <h3> Community Rules </h3>

  <p id="terms">

    Hello! We would like to welcome you to the RESuLT - Revisão Sistemática da Literatura community. We welcome anyone who follows our community rules which are designed to make sure that
    all users feel welcome and comfortable contributing to the community. Here are our rules: <br><br>

    •	Use common courtesy <br>
    •	Respect others <br>
    •	Do not mis-attribute the original author or creator of content, either directly or by omission. <br>
    •	Do not include any anti-ethical content (e.g., racism, sexism, etc.). <br>
    •	Do not make any personal attacks (e.g., making statements that harass, insult, threaten, belittle, etc. another user). <br>
    •	Do not do anything that violates the terms of service. <br><br>

    If you do not follow our rules: <br>

    •	We reserve the right to immediately terminate or suspend anyone who fails to abide by our rules. The decision to suspend or terminate accounts will be made at the sole discretion of the site administrators. All account terminations are to be considered final.
  </p>
</div>