<div class="panel panel-primary">
  <div class="panel-heading"> Search Engine </div>
  <div class="panel-body">
    <div class="row" xmlns="http://www.w3.org/1999/html">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Insira string de busca genérica">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <br><br><br>

      <div class="col-lg-2">
        <div class="input-group">
          <input type="checkbox" aria-label="..."> IEEExplore <br>
          <input type="checkbox" aria-label="..."> ACM <br>
          <input type="checkbox" aria-label="..."> Springer <br><br>
          <input type="submit" value="Submit">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.col-lg-6 -->
</div>

