
<div class="container-fluid">

<h3> Privacy Policy </h3>

<p id="terms">
  We take your privacy seriously. Within the context of the RESuLT web tool your
  personal information is not shared or sold.

  When you register we ask for information including your name, institution, country and e-mail
  address. We also collect and analyze information on the site usage.

  The collected information are used for the following general purposes: to evaluate the utilization
  of the tool in order to guide its improvement, conduct research, and investigate abuse.

  We reserve the right to share information in order to investigate, prevent, or take action
  regarding illegal activities, suspected fraud, violations of the Terms of Service, situations
  involving potential threats to the physical safety of any person, or as otherwise required by law.
</p>

</div>