<div class="container-fluid">

  <h3> Terms Of Service </h3>

  <h4 align="left"> 1. Your Acceptance </h4>
  <p id="terms">
    By using and/or visiting the RESuLT, you signify your agreement to (1)
    these terms and conditions and (2) our privacy policy, and any modifications
    thereto. If you do not agree to the Terms of Service and the Privacy Policy,
    then you are not permitted to use and/or visit this Website. We reserve the right to amend these
    Terms of Service at any time, informing the registered user via email. You affirm that you are over
    the age of 18 and are fully able and competent to enter into the terms, conditions, obligations,
    affirmations, representations, and warranties set forth in these Terms of Service, and to abide by
    and comply with these Terms of Service.
  </p>
  <br>

  <h4 align="left"> 2. RESuLT - Revisão Sistemática da Literatura </h4>
  <p id="terms">
    These Terms of Service apply to all users of the RESuLT web tool,
    including but not limited to all information and services offered via the Website.
    The RESuLT web tool may contain links to third party websites for
    which we do not have control over, and for which we assume no responsibility for,
    the content, privacy policies, or practices of any third party websites. In addition,
    we will not and cannot censor or edit the content of any third party site. We reserve
    the right to discontinue any aspect of the Website at any time.
  </p>
  <br>

  <h4 align="left"> 3. User Account</h4>
  <p id="terms">
    In order to access some features of the Website, you will have to create a user account.
    You may never use another individual's account without permission. When creating your
    account, you must provide accurate and complete information. You are solely responsible
    for the activity that occurs on your account, and you must keep your account password secure.
    The RESuLT web tool is not liable for your losses caused by any unauthorized
    use of your account.
  </p>
  <br>

  <h4 align="left"> 4. Permissions and Restrictions</h4>
  <p id="terms">
    The RESuLT web tool hereby grants you permission to access and make personal
    use of the Website as set forth in these Terms of Service, but not to download or modify
    the Website or any portion of the Website. You shall not use the Website for any commercial
    purposes. Prohibited commercial uses include without limitation any of the following actions
    taken: (i) sale of access to the Website or its related services, such as any website extensions;
    (ii) use of the Website for the primary purpose of gaining advertising or subscription revenue.
    You shall not engage in the use, copying, or distribution of any of the User Submissions
    other than expressly permitted herein, including any use, copying, or distribution of User
    Submissions of third parties obtained through the Website for any commercial purposes.
  </p>

  <br>

  <h4 align="left"> 5. Account Termination Policy </h4>
  <p id="terms">
    The RESuLT web tool may terminate a user's access to the Website if the user is determined,
    in our sole discretion, to have infringed these Terms of Service.
  </p>
  <br>

  <h4 align="left">  6. Warranty Disclaimer </h4>
  <p id="terms">
    You agree that your use of the website shall be at your sole risk.
    The RESuLT web tool is provided on an "as is" basis without warranties of any kind.
    The RESuLT web tool disclaims all warranties, express or implied,
    in connection with the website and your use thereof. We make no warranties or representations
    about the accuracy or completeness of this website's content or the content of any site linked
    to this site and assume no liability or responsibility for any errors, mistakes, opinions or
    inaccuracies with regard to the content, personal injury of property damage or any nature whatsoever,
    resulting from your access to and use of the website, any unauthorized access to or use of our servers
    and/or any and all information and/or stored therein, any interruption or cessation of transmission to
    or from our website, any malicious software which may be transmitted to or through our website by any
    third party and/or any errors or omissions in any content or for any loss or damage of any kind
    incurred as a result of the use of any content posted, emailed, transmitted or otherwise made
    available via the website. The RESuLT web tool does not warrant, endorse, guarantee, or
    assume responsibility for any product or service advertised or offered by a third party through the
    website or any linked website. You specifically acknowledge that the RESuLT web tool
    shall not be liable for user submissions or the defamatory, offensive or illegal conduct of any third party.
    You agree to defend, indemnify, and hold harmless the RESuLT web tool, from and against any
    and all actions, claims, damages, obligations, losses, liabilities, costs or debt, and expenses
    (including without limitation attorneys' fees) arising from or in connection with: (i) your use of
    and access to the Website; (ii) your violation of any term or provision of these Terms of Service;
    (iii) your failure to abide by applicable local, state, federal, and international law; (iv) your
    violation of any third party right, including without limitation any copyright, trademark, property,
    or privacy right; (v) any claim that one of your User Submissions caused damage to a third party; or
    (vi) any breach of any representation, warranty, or agreement made by you in these Terms of Service.
    This defense and indemnification obligation survives these Terms of Service and your use of the Website.
    You hereby release and waive any and all claims, liability, and causes of action against the
    RESuLT web tool arising from or in connection with your use of the Website.
  </p>





</div>

