<div class="table-bordered">
  <table class="table">
    <tr>
      <th> Base Digital </th>
      <th> Resultados </th>
    </tr>
    <tr>
      <% Reference.all.each do |reference| %>
          <td>
            <%= link_to reference.database_name, ieees_path %>
          </td>
          <td>
            <%= reference.results %>
          </td>
      <% end %>
    </tr>

  </table>
</div>