<br>
<div class="container-fluid">
  <div class="table">
    <table class="table table-hover">
      <tr>
        <th> Base Digital </th>
        <th> Resultados </th>
      </tr>
      <tr>
        <% Reference.all.each do |reference| %>
            <tr>
                <td>
                  <%= link_to reference.database_name, ieees_path %>
                </td>
                <td>
                  <%= reference.results %>
                </td>
            </tr>
    <% end %>
      </tr>
    </table>
  </div>
</div>
