<br>
<% if user_signed_in? %>
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <strong> Protocolos cadastrados </strong>
      </div>
      <div class="panel-body">
        <!-- Eliminar este find by na VIEW!! -->
        <% if Protocol.find_by_user_id(current_user).nil? %>
            <p> Usuário não possui nenhum protocolo cadastrado. </p>
        <% end %>
        <% @protocols.each do |protocol| %>
            <% if protocol.user == current_user %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2>
                      <%= link_to protocol.title, protocol %> <br>
                      <small class="author">Submetido <%= (protocol.created_at.to_s[0..10]) %> por <%= protocol.user.email  %> </small>
                    </h2>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
<% else %>
    <div class="alert alert-info"><b> Usuário deve estar cadastrado para utilizar a ferramenta. </b></div>
<% end %>








