<% @protocols.each do |protocol| %>
    <% if protocol.user == current_user %>
        <div class="link row clearfix">
          <h2>
            <%= link_to protocol.title, protocol %> <br>
            <small class="author">Submitted <%= time_ago_in_words(protocol.created_at) %> ago by <%= protocol.user.email %> </small>
          </h2>
         </div>
    <% end %>
<% end %>



