<footer>
    <div id="page_footer_logos">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td width="80%" id="body_footer">
            <br>
            <strong>Software Quality Group - GQS</strong>
            <br> National Institute for Research and Technology on
            Digital Convergence - INCOD
            <br> Department of Informatics and Statistics - INE
            <br> Federal University of Santa Catarina - UFSC
            <br> 88049-200 Florianopolis - SC Brazil
            <br> incod@incod.ufsc.br
          </td>
        </tr>
      </table>
    </div>

  <div align="center" id="links_footer">
    <table>
      <tbody>
      <tr>
        <td valign="middle" align="center" colspan="3" >
          <a href="">Bem-vindo</a>
          | <a href="">Política de Privacidade</a>
          | <a href="">Termos de Uso</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</footer>